In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import category_encoders as ce

In [12]:
# Load a sheet into a DataFrame by its name
df = pd.read_excel('./files/food-twentieth-century-crop-statistics-1900-2017-xlsx.xlsx', sheet_name="CropStats")

In [11]:
# See basic info about our dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36707 entries, 0 to 36706
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           36707 non-null  int64
 1   Harvest_year         36707 non-null  int64
 2   admin0               36707 non-null  object
 3   admin1               33716 non-null  object
 4   crop                 36707 non-null  object
 5   hectares (ha)        35084 non-null  float64
 6   production (tonnes)  34709 non-null  float64
 7   year                 36707 non-null  int64
 8   yield(tonnes/ha)     34694 non-null  float64
 9   admin2               0 non-null      float64
 10  notes                5641 non-null   object
dtypes: float64(4), int64(3), object(4)
memory usage: 3.1+ MB

## Drop columns we don't need

In [14]:
df=df.drop(['admin2','notes'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36707 entries, 0 to 36706
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           36707 non-null  int64
 1   Harvest_year         36707 non-null  int64
 2   admin0               36707 non-null  object
 3   admin1               33716 non-null  object
 4   crop                 36707 non-null  object
 5   hectares (ha)        35084 non-null  float64
 6   production (tonnes)  34709 non-null  float64
 7   year                 36707 non-null  int64
 8   yield(tonnes/ha)     34694 non-null  float64
dtypes: float64(3), int64(3), object(3)
memory usage: 2.5+ MB

## remove columns when hecatere, production and yield is incomplete and can't be calculated