# Pycaret model Titanic - Wouter Selis

## Install needed libraries to use pycaret.

In [1]:
#!pip install pandas
#!pip install numpy
#!pip install pycaret
#!pip install openpyxl

## Loading the data

In [2]:
import pandas as pd
import numpy as np
import category_encoders as ce

# Load a sheet into a DataFrame by its name
df = pd.read_excel('files/titanic3.xlsx')

# We are going to change these outliers to the mean price that has been paid by the other passengers, we could do this by simply changing
# the fare price of these passengers but let's use the technique that would be used when there are more than a few outliers
# We use the outlier detection and removal technique

# Calculate the IQR (InterQuartile Range) for the fare column
Q1 = df['fare'].quantile(0.25)
Q3 = df['fare'].quantile(0.75)
IQR = Q3 - Q1

# Define lower and upper bound for outliers, (sidenote, normally the multiplier used to calculate the lower and upper bound is around 1.5
# but this would cause the identification of normal data as outliers resulting in a lot of good data to be lost because it is flagged as an
# outlier. This is why we use such a high multiplier value.
lower_bound = Q1 - 10 * IQR
upper_bound = Q3 + 10 * IQR

# Filter the data to exclude outliers
df = df[(df['fare'] >= lower_bound) & (df['fare'] <= upper_bound)]

df['firstname']=df['name'].str.split(r'[,.]', expand=True)[2]
df['title']=df['name'].str.split(r'[,.]', expand=True)[1]
df['lastname']=df['name'].str.split(r'[,.]', expand=True)[0]

df.drop('name', axis = 1, inplace = True)

normalized_titles = {
    "Capt":       "Officer",
    "Col":        "Officer",
    "Major":      "Officer",
    "Jonkheer":   "Royal",
    "Don":        "Royal",
    "Sir" :       "Royal",
    "Dr":         "Officer",
    "Rev":        "Officer",
    "the Countess":"Royal",
    "Dona":       "Royal",
    "Mme":        "Mrs",
    "Mlle":       "Miss",
    "Ms":         "Mrs",
    "Mr" :        "Mr",
    "Mrs" :       "Mrs",
    "Miss" :      "Miss",
    "Master" :    "Master",
    "Lady" :      "Royal"
}
# Strip leading and trailing spaces from the 'title' column
df['title'] = df['title'].str.strip()

# Now, apply the mapping to change original values to new values
df['title'] = df['title'].map(normalized_titles)

# Calculate the mean age for non-null values
mean_age = df['age'].mean()

# Calculate the standard deviation of the age column, which will be used to generate random but believable age values
std_age = df['age'].std()

# Create a mask to identify rows with "Master" or "Miss" in the "title" column
master_miss_mask = (df['title'] == 'Master') | (df['title'] == 'Miss')

# Generate random values for rows with "Master" or "Miss" based on a different standard deviation
random_values_master_miss = np.random.normal(loc=0, scale=std_age * 0.5, size=master_miss_mask.sum())

# Shift the distribution to have the same mean as the original data
added_values_master_miss = random_values_master_miss + mean_age

# Update the 'age' column for rows with "Master" or "Miss" individually
master_miss_indices = df.index[master_miss_mask]
for i, index in enumerate(master_miss_indices):
    # Ensure that the age does not exceed 18
    age = min(added_values_master_miss[i], 18)
    df.loc[index, 'age'] = age

# For all other missing values, use the previously calculated random values
random_values = np.random.normal(loc=0, scale=std_age, size=df['age'].isna().sum())
added_values = random_values + mean_age

# Update the 'age' column for all other missing values individually
other_indices = df.index[~master_miss_mask & df['age'].isna()]
for i, index in enumerate(other_indices):
    df.loc[index, 'age'] = added_values[i]

# Change the datatype of the age column from float to int
df['age'] = df['age'].astype(int)


df['cabin'].fillna(0, inplace=True)

# Replace non-null values with 1 without having problems because there are non-numerical values
df['cabin'] = df['cabin'].apply(lambda x: 1 if x != 0 else x)

# There are 2 null values in the embarked column, because it is such a small amount of data we simply change it to the value 'Q'
# which stands for Queenstown
df['embarked'] = df['embarked'].replace(np.nan, 'Q')


df['boat'].fillna(0, inplace=True)

# Replace non-null values with 1 without having problems because there are non-numerical values
df['boat'] = df['boat'].apply(lambda x: 1 if x != 0 else x)


df['body'].fillna(0, inplace=True)

# Replace non-null values with 1 without having problems because there are non-numerical values
df['body'] = df['body'].apply(lambda x: 1 if x != 0 else x)
# We change the datatype from float to int
df['body'] = df['body'].astype(int)

df.drop('home.dest', axis = 1, inplace = True)

df['survived'] = df['survived'].astype(bool)
df['boat'] = df['boat'].astype(bool)
df['body'] = df['body'].astype(bool)
df['embarked'] = str(df['embarked'])

encoder = ce.OrdinalEncoder(cols=['sex'])
df_encoded = encoder.fit_transform(df)

## Import module

In [3]:
from pycaret.classification import *

## Setup the Pycaret environment
Initialize the training environment and create the transformation pipeline to prepare the data for modeling and deployment. Target is set on survived because this is what we want to predict.

In [4]:
s = setup(df_encoded, target = 'survived', session_id = 123)

## Compare the models
Here we compare the outcomes of all the models. Every highest score is marked in yellow. We can see that Logistic Regression scores overall the best.

In [5]:
# functional API
best = compare_models()
print(best)

Initiated  . . . . . . . . . . . . . . . . . .             21:45:37
Status     . . . . . . . . . . . . . . . . . .    Loading Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Logistic Regression

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=123, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

## Test the best model
Now we want to test the best model (logistic regression) on our dataset.
In the column 'prediction_label' we can see if our model predicted if the person survived or not. 1 = survived & 0 = dead.
In the column 'prediction_score' we can see how sure our model thinks it has predicted the right outcome.

In [6]:
predict_model(best, data=df_encoded)

,pclass,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,firstname,title,lastname,survived,prediction_label,prediction_score
0,1,1,18,0,0,24160,211.337494,1,0 S\n1 S\n2 S\n3 S\n4 ...,True,False,Elisabeth Walton,Miss,Allen,True,1,0.9946
1,1,2,18,1,2,113781,151.550003,1,0 S\n1 S\n2 S\n3 S\n4 ...,True,False,Hudson Trevor,Master,Allison,True,1,0.9645
2,1,1,18,1,2,113781,151.550003,1,0 S\n1 S\n2 S\n3 S\n4 ...,False,False,Helen Loraine,Miss,Allison,False,0,0.8568
3,1,2,30,1,2,113781,151.550003,1,0 S\n1 S\n2 S\n3 S\n4 ...,False,True,Hudson Joshua Creighton,Mr,Allison,False,0,0.9934
4,1,1,25,1,2,113781,151.550003,1,0 S\n1 S\n2 S\n3 S\n4 ...,False,False,Hudson J C (Bessie Waldo Daniels),Mrs,Allison,False,0,0.7319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,1,18,1,0,2665,14.454200,0,0 S\n1 S\n2 S\n3 S\n4 ...,False,True,Hileni,Miss,Zabour,False,0,0.9572
1305,3,1,18,1,0,2665,14.454200,0,0 S\n1 S\n2 S\n3 S\n4 ...,False,False,Thamine,Miss,Zabour,False,0,0.8863
1306,3,2,26,0,0,2656,7.225000,0,0 S\n1 S\n2 S\n3 S\n4 ...,False,True,Mapriededer,Mr,Zakarian,False,0,0.9948
1307,3,2,27,0,0,2670,7.225000,0,0 S\n1 S\n2 S\n3 S\n4 ...,False,False,Ortin,Mr,Zakarian,False,0,0.9835
1308,3,2,29,0,0,315082,7.875000,0,0 S\n1 S\n2 S\n3 S\n4 ...,False,False,Leo,Mr,Zimmerman,False,0,0.9868

Get the accuracy to compare it later on.

In [7]:
measures = pull()

## Save model
Finally we can save the model in our files folder.

In [8]:
save_model(best, 'files/titanic_pycaret_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['pclass', 'sex', 'age', 'sibsp',
                                              'parch', 'fare', 'cabin'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=None,
                                                               keep_empty_features=False,
                                                               missing_values=nan,
                                                               strategy='mean',
                                                               verbose='deprecated'))),
                 ('categorical_imputer',
                  Transforme...
                                                               handle_unknown='value',
                                                               hierarchy=None,
                                                               min_samples_leaf=20,
                                                               return_df=True,
                                                               smoothing=10,
                                                               verbose=0))),
                 ('trained_model',
                  LogisticRegression(C=1.0, class_weight=None, dual=False,
                                     fit_intercept=True, intercept_scaling=1,
                                     l1_ratio=None, max_iter=1000,
                                     multi_class='auto', n_jobs=None,
                                     penalty='l2', random_state=123,
                                     solver='lbfgs', tol=0.0001, verbose=0,
                                     warm_start=False))],
          verbose=False),
 'files/titanic_pycaret_model.pkl')

## Load model
If I want to reuse this model I can simply load it from my files folder

In [9]:
loaded_model = load_model('files/titanic_pycaret_model')
print(loaded_model)

Transformation Pipeline and Model Successfully Loaded
Pipeline(memory=FastMemory(location=C:\Users\woute\AppData\Local\Temp\joblib),
         steps=[('numerical_imputer',
                 TransformerWrapper(exclude=None,
                                    include=['pclass', 'sex', 'age', 'sibsp',
                                             'parch', 'fare', 'cabin'],
                                    transformer=SimpleImputer(add_indicator=False,
                                                              copy=True,
                                                              fill_value=None,
                                                              keep_empty_features=False,
                                                              missing_values=nan,
                                                              strategy='mean',
                                                              verbose='deprecat...
                                                              handle_unknown='value',
                                                              hierarchy=None,
                                                              min_samples_leaf=20,
                                                              return_df=True,
                                                              smoothing=10,
                                                              verbose=0))),
                ('trained_model',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=1000,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=123,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

## Without column 'boat' & 'body'
In previous model we used the dataset with feature boat and body included. Obviously when someone was on a boat their survival chance is greater then someone who was in the cold water. Also when they found the body of a person, this person obviously died. This means that when we include these 2 features in our dataset the model will almost only look at those 2 features to make predictions. To see the differnce in performance we will now create a model without these 2 features.

Here we are going to drop our column boat and body from our dataset.

In [10]:
df_exclude = df_encoded
df_exclude = df_exclude.drop(['boat', 'body'], axis=1)
df_exclude

,pclass,survived,sex,age,sibsp,parch,ticket,fare,cabin,embarked,firstname,title,lastname
0,1,True,1,18,0,0,24160,211.3375,1,0 S\n1 S\n2 S\n3 S\n4 ...,Elisabeth Walton,Miss,Allen
1,1,True,2,18,1,2,113781,151.5500,1,0 S\n1 S\n2 S\n3 S\n4 ...,Hudson Trevor,Master,Allison
2,1,False,1,18,1,2,113781,151.5500,1,0 S\n1 S\n2 S\n3 S\n4 ...,Helen Loraine,Miss,Allison
3,1,False,2,30,1,2,113781,151.5500,1,0 S\n1 S\n2 S\n3 S\n4 ...,Hudson Joshua Creighton,Mr,Allison
4,1,False,1,25,1,2,113781,151.5500,1,0 S\n1 S\n2 S\n3 S\n4 ...,Hudson J C (Bessie Waldo Daniels),Mrs,Allison
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,False,1,18,1,0,2665,14.4542,0,0 S\n1 S\n2 S\n3 S\n4 ...,Hileni,Miss,Zabour
1305,3,False,1,18,1,0,2665,14.4542,0,0 S\n1 S\n2 S\n3 S\n4 ...,Thamine,Miss,Zabour
1306,3,False,2,26,0,0,2656,7.2250,0,0 S\n1 S\n2 S\n3 S\n4 ...,Mapriededer,Mr,Zakarian
1307,3,False,2,27,0,0,2670,7.2250,0,0 S\n1 S\n2 S\n3 S\n4 ...,Ortin,Mr,Zakarian
1308,3,False,2,29,0,0,315082,7.8750,0,0 S\n1 S\n2 S\n3 S\n4 ...,Leo,Mr,Zimmerman

## Create and test model

In [11]:
s_exclude = setup(df_exclude, target = 'survived', session_id = 123)

# functional API
best_exclude = compare_models()
print(best_exclude)

predict_model(best_exclude, data=df_exclude)

measures_exclude = pull()

save_model(best_exclude, 'files/titanic_exluded_pycaret_model')

loaded_exclude_model = load_model('files/titanic_exluded_pycaret_model')
print(loaded_exclude_model)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=123, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Transformation Pipeline and Model Successfully Saved
Transformation Pipeline and Model Successfully Loaded
Pipeline(memory=FastMemory(location=C:\Users\woute\AppData\Local\Temp\joblib),
         steps=[('numerical_imputer',
                 TransformerWrapper(exclude=None,
                                    include=['pclass', 'sex', 'age', 'sibsp',
                                             'parch', 'fare', 'cabin'],
                                    transformer=SimpleImputer(add_indicator=False,
                                                              copy=True,
                                                              fill_value=None,
                                                              keep_empty_features=False,
                                                              missing_values=nan,
                                                              strategy='mean',
                                                              verbose='deprecat...
                                                              handle_unknown='value',
                                                              hierarchy=None,
                                                              min_samples_leaf=20,
                                                              return_df=True,
                                                              smoothing=10,
                                                              verbose=0))),
                ('trained_model',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=1000,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=123,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

## Lets compare the 2 models.
We can see that all the measures of the model with the boat & body columns included in the dataset scored a little better then the model without them. We thought that boat & body would make a big difference to predict if a preson survived or not. Using this model it doesn't really make a big difference. When we see at Kieran's model using GradientBoostingRegressor we see that there is a big difference though.

Accuracy all columns:

In [12]:
measures

,Model,Accuracy,AUC,Recall,Prec.,F1,Kappa,MCC
0,Logistic Regression,0.9755,0.997,0.9536,0.9813,0.9673,0.9477,0.9479

Accuracy without column 'boat' & 'body':

In [13]:
measures_exclude

,Model,Accuracy,AUC,Recall,Prec.,F1,Kappa,MCC
0,Logistic Regression,0.9202,0.9726,0.8387,0.9455,0.8889,0.827,0.8306